Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 105
FixNamespaceComments: false
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
BreakConstructorInitializers: BeforeComma
AllowShortCaseLabelsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
SortIncludes: false
PointerAlignment: Left
DerivePointerAlignment: false
