{
  Checks: '*,-readability-braces-around-statements,-google-readability-braces-around-statements,-llvm-include-order'
CheckOptions: [
  {key: 'google-readability-braces-around-statements.ShortStatementLines', value: 1}
]
}
