[submodule "external/embed"]
	path = external/embed
	url = git@github.com:madeso/embed.git
[submodule "external/vscode-codicons"]
	path = external/vscode-codicons
	url = git@github.com:microsoft/vscode-codicons.git
[submodule "tools/buildtools"]
	path = tools/buildtools
	url = git@github.com:madeso/build.git
[submodule "external/stb/stb"]
	path = external/stb/stb
	url = git@github.com:nothings/stb.git
[submodule "external/catchy"]
	path = external/catchy
	url = git@github.com:madeso/catchy.git
